@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .work-section-wrapper {
    padding: 40px 20px;
    background-color: #f8f8f8;
    animation: slideIn 1s ease-out;
    margin-top: 50px;
    border-radius: 15px;
  }
  
  .work-section-top {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .primary-subheading {
    font-size: 24px;
    color: #333;
  }
  
  .primary-heading {
    font-size: 36px;
    color: #000;
  }
  
  .primary-text {
    font-size: 18px;
    color: #666;
  }
  
  .work-section-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .work-section-info {
    background-color: black;
    color: white;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: zoomIn 1s;
  }
  
  .info-boxes-img-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .work-section-info {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .work-section-info {
      width: 100%;
    }
  }